[Unit]
Description=AES67 JACK VSC
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=aes67-vsc
ExecStart=/usr/local/bin/aes67-rs-jack-vsc
Environment="AES67_VSC_WEBROOT_PATH=/usr/lib/aes67-rs/jack-vsc/static/"
Environment="AES67_VSC_2_CONFIG=/etc/aes67-jack-vsc/config.yaml"
Environment="AES67_VSC_2_DATA_DIR=/var/lib/aes67-jack-vsc/data"

[Install]
WantedBy=multi-user.target