html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  color: #bbb;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 1rem; */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  justify-content: start;
  gap: 1em;
}

.spacer {
  flex-grow: 1;
}

.card {
  padding: 2em;
}

.tab {
  min-height: 400px;
}

.tab-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.pending {
  transition: color 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in;
}

ul.main-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

ul.main-menu li {
  display: inline-block;
  margin-left: 0;
  padding: 10px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #666;
  font-size: larger;
}

ul.main-menu li.selected {
  border-bottom: 2px solid #337ab7;
  color: #bbb;
}

.sub-menu {
  grid-row: 1;
  grid-column: 1;
  z-index: 999;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: max-content;
}

.sub-menu ul {
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.sub-menu li {
  display: block;
  margin-left: 0;
  padding: 10px;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  border-bottom: 2px solid #337ab700;
  color: #666;
}

.sub-menu li.selected {
  border-bottom: 2px solid #337ab7;
  color: #bbb;
}

.sub-menu li.disabled {
  cursor: not-allowed;
  color: #333;
}

.loader {
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
  width: 80px;
}

.tab-content {
  display: grid;
  columns: 1;
  justify-content: stretch;
}

.main-view {
  grid-row: 1;
  grid-column: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.running-indicator {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.2em 0.5em;
  justify-content: space-between;
}

.indicator {
  color: #af4c4c;
  font-size: smaller;
}

.indicator.active {
  color: #4caf50;
}

.config-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  column-gap: 2em;
  row-gap: 0.5em;
}

.config-page h2 {
  text-align: center;
  grid-column: span 2;
  font-size: 1.25em;
}

.config-page h3 {
  grid-column: span 2;
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.config-page .key {
  grid-column: 1;
}

.config-page .value {
  grid-column: 2;
}

.config-page .separator {
  grid-column: span 2;
  border-top: 1px solid #444;
  margin: 0.5em 0;
}

.icon-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

input.invalid,
input.invalid:focus,
input.invalid:focus-visible,
input.invalid:focus-within,
input.invalid:hover,
input.invalid:active {
  color: #ff4c4c;
  border: 2px solid #ff4c4c;
  border-radius: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #242424;
  flex-direction: column;
}

.dropdown-menu.open {
  text-decoration: none;
  display: flex;
}

.menuitem {
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.menuitem:hover {
  background-color: #333;
}
